<html> 
<head><meta charset="UTF-8" />
<title>filter</title>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<!--<script src=“simpleModule.js"></script>-->

<script>

var myApp = angular.module('fruit', []);

myApp.controller('FruitCtrl', ['$scope', function($scope) {

    $scope.fruit = [
        {'name': 'Apple', 'colour': 'Red', 'age' : '5'},
        {'name': 'Orange', 'colour': 'Orange', 'age': '6'},
        {'name': 'Banana', 'colour': 'Yellow', 'age': '7'}];
    
    $scope.colourIncludes = [];
    $scope.ageIncludes = [];
    
    $scope.includeColour = function(colour) {
        var i = $.inArray(colour, $scope.colourIncludes);
        if (i > -1) {
            $scope.colourIncludes.splice(i, 1);
        } else {
            $scope.colourIncludes.push(colour);
        }
    }
    
    $scope.includeAge = function(age) {
        var i = $.inArray(age, $scope.ageIncludes);
        if (i > -1) {
            $scope.ageIncludes.splice(i, 1);
        } else {
            $scope.ageIncludes.push(age);
        }
    }
    
    
    $scope.colourFilter = function(fruit) {
        if ($scope.colourIncludes.length > 0) {
            if ($.inArray(fruit.colour, $scope.colourIncludes) < 0)
                return;
        }
        
        return fruit;
    }
		
    $scope.ageFilter = function (filter1) {
        if ($scope.ageIncludes.length > 0) {
            if ($.inArray(filter1, $scope.ageIncludes) < 0)
                return false;
        }
        return true;
    }

    $scope.checkSomething = function(){
        return false;
    }
}]);

</script>

</head> 

<body>
Фильтрация элементов
<div ng-app="fruit">
    <div ng-controller="FruitCtrl">
        
        <input type="checkbox" ng-click="includeColour('Red')"/> Red</br/>
        <input type="checkbox" ng-click="includeColour('Orange')"/> Orange</br/>
        <input type="checkbox" ng-click="includeColour('Yellow')"/> Yellow</br/>
        <input type="checkbox" ng-click="includeAge('5')"/> 5</br/>
        <input type="checkbox" ng-click="includeAge('6')"/> 6</br/>
        <input type="checkbox" ng-click="includeAge('7')"/> 7</br/>        
        
        <ul>
            <li ng-repeat="f in fruit | filter:colourFilter | filter:ageFilter">
                {{f.name}}
            </li>
        </ul>

        <div ng-show="ageFilter(5)">
            123123<br>
            123123<br>
            123123<br>
        </div>
        Filter color: {{colourIncludes}}<br>
        Filter age: {{ageIncludes}}<br>        
    </div>
</div>

</body>
</html> 

		

